<span class="mt-1 text-sm"><%= @story.story_date %></span>
<span :if={@story.rating} class="whitespace-nowrap  text-sm  w-min">
  <span class="badge"><%= @story.rating %></span> <%= @story.rating_count %>
</span>
